@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.cdnfonts.com/css/pixeboy');

:root {
  --beige-light: #F5EDE3;
  --beige-mid:   #E6D5C3;
  --beige-dark:  #D2BFA8;

  --brown-light: #B08968;
  --brown-mid:   #8C5A3C;
  --brown-dark:  #5A3A28;

  --text-dark:   #3B2A20;
  --text-light:  #FFF8F0;
}

* {
  box-sizing: border-box;
}


body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    user-select: none;
    -webkit-app-region: drag;
    border-radius: 20px;
    margin: 0;
    background: transparent;

    image-rendering: pixelated;
    -webkit-font-smoothing: none;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 13.375rem;
    padding: 1rem 1.0625rem;


    background-image: url("assets/white-frame-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--beige-dark);
    background-blend-mode: multiply;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    opacity: 0.95;

    box-shadow: 0 8px 30px rgba(140, 90, 60, 0.35);
}

button,
input,
textarea,
select {
  -webkit-app-region: no-drag;
  cursor: pointer;
}

.title {

    display: flex;
    width: 157px;
    aspect-ratio: 157/27;
    padding: 0.25rem 0.625rem;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--brown-mid);
    border-radius: 6.25rem;
    background: var(--beige-light);
    color: var(--text-dark);

    /* text styling */
    font-family: Pixelify Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

#calendar { 
    text-align: center;
    display: flex;
    width: 11.25rem;
    height: 10.0625rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;

    background-image: url("assets/white-frame-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--beige-light);
}

#day {
    color: var(--text-light);
    text-align: center;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: var(--brown-mid);
    font-family: Pixeboy;
    font-size: 8.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; 
    letter-spacing: 0.4rem;

    display: flex;
    width: 11.25rem;
    height: 4.4375rem;
    flex-direction: column;
    justify-content: center;

    line-height: 1;
    padding-top: 0.25rem;
}

#month {

    color: var(--text-light);
    text-align: center;
    -webkit-text-stroke-width: 1.25px;
    -webkit-text-stroke-color: var(--brown-mid);
    
    font-family: Pixeboy;
    font-size: 2.05rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; 
    letter-spacing: 0.1rem;
    
    width: 8.125rem;
}